# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\BungeeSwitchListener-Rebirth-195ed7162fda059d817ab4fcbda093a22ed3062c\JavaDebugUtil\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
